.project
.classpath
.settings/
.idea/
*.iml
.vscode/
target/
out/
.DS_Store
/bin/
ReseauElectrique.jar

# JavaFX WebKit (trop volumineux pour GitHub, non nécessaire)
**/jfxwebkit.dll
**/libjfxwebkit.dylib
**/libjfxwebkit.so



